<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BecaDB" connectionString="Data Source=10.213.100.51;Initial Catalog=beca_net_db;User ID=beca_net_db_usr;Password=becanet!!2018" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>